/*==================================RESPONSIVE LAYOUTS===============================================*/

body {
	min-width: 1024px;
}

@media only screen and (max-width: 1330px) {
.calculator_wr {
	float: left;
	margin-left: 0;
}
.enter_wr {
	background-position: -200px 0;
}
}
@media only screen and (max-width: 992px) {


.sub_logo {
	width: 175px;
	line-height: 14px;
	font-size: 12px;
	margin-left: 16px;
}
.header_btn>* {
	font-size: 14px;
}


.nav_bottom {
	display: none;
}
#navigation_box {
	padding-bottom: 0;
}

.copyrite {
	font-style: 12px;
	line-height: 14px;
	padding: 10px 0 8px 23px;
}
.enter_wr {
	background-image: none;
	
}
}

